{% extends "StronaBundle::szablon.html.twig" %}
{% block title %}Strona główna - {{ parent() }}{% endblock %}

{% form_theme formularz 'StronaBundle:szablon:szablon_form.html.twig'  %}

{%block conetner %}
    
    <div class="container">
        <div class="row">
            <div class="page-header">
  <h1>Dodaj Domek</h1>
</div>
    
    {{form(formularz)}}
    <a href ="glowna" class="btn btn-lg btn-primary" type="button">Powrót</a>
            </div>
    </div>
    


{%endblock%}
